name: Generate MD file from text

on:
  push:
    branches: [ main ]

jobs:
  generate-md:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Read text file and generate MD file
        run: |
          cat text.txt | sed 's/$/  /' | sed 's/^/    /' > file.md
          echo "BUILD_TIME=$(date +%s | md5sum | awk '{print substr($1,1,10)}')" >> $GITHUB_ENV
          
      - name: 上传至 Github Releases
        uses: ncipollo/release-action@v1.12.0
        with:
          artifacts: "${{ github.workspace }}/file.md"
          tag: "tosastill_s_Blogs_${{ env.BUILD_TIME }}"
          bodyFile: "file.md"
          token: ${{ secrets.GITHUB_TOKEN }}
